.login-password-section {
    display: block;
    margin-top: 240px;
    
}

/* Sie haben bereits einen Account? */
.login-password-section p {
    padding-top: 20px;
    padding-left: 28%;
    font-size: 12px;
    color: #555;  
}


/* Einloggen Button */
.login {
    margin-left: 40%;
    font-size: 12px;
    background-color: transparent;
    color: black;
    text-decoration: underline;
}

/* Unterschrift Text */ 
.p-text {
    margin-bottom: 20px;
    padding-left: 20px;

}

.p-text p {
    font-family: Arial, sans-serif;
    font-size: 12px;
  
}



